{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/3e0c251e14.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
    <style>
        .card-3 .card-heading {
 background:url('https://i.pinimg.com/564x/87/a8/4a/87a84ae00252d97a4b92b53deb90c7e6.jpg') top center/cover no-repeat;
 }
    </style>
</head>
<body>


	<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780" style="position: relative;top:-120px;">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Registration Info</h2>
                    <form action="register" method="post">{% csrf_token %}
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="First Name" name="first_name">
                        </div>
                         <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="username" name="username">
                        </div>

                        <div class="input-group">
                            <input class="input--style-3" type="email" placeholder="Email" name="email">
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="password" placeholder="Password" name="password">
                        </div>
                         <div class="input-group">
                            <input class="input--style-3" type="password" placeholder="Confirm Password" name="password1">
                        </div>

                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 {% for message in messages %}

                    <div class="alert alert-success" style="position:relative;top:-740px;">

                        {{message}}

                    </div>
            {% endfor %}

</body>
</html>